{{define "base"}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Title}}</title>
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    {{if .SessionMaxAge}}<meta name="session-max-age" content="{{.SessionMaxAge}}">{{end}}
    <script src="/static/js/theme-init.js"></script>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/fontawesome-free-7.1.0-web/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/jquery/jquery-3.7.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/global.js"></script>
    <script src="/static/js/cheatsheet.js"></script>
</head>

<body>
    {{template "header.html" .}}

    <main role="main" class="container mt-4">
        {{block "content" .}}Default Content{{end}}
    </main>

    {{template "footer.html" .}}

    {{template "modal"}}

</html>
{{end}}