{{define "content"}}
<script src="/static/js/server.js"></script>
<script src="/static/js/create-server.js"></script>
<div class="container p-4 mb-4 border rounded bg-light">
    <h3><i class="fa-solid fa-server"></i> Server Configuration</h3>
    <hr>

    {{if .IsFirstServer}}
    <p>No servers found. Please configure a new server:</p>
    {{else}}
    <p>Create a new server:</p>
    {{end}}
    <form id="create-server-form">
        <div class="form-group">
            <label for="interfaceName">Interface Name</label>
            <input type="text" class="form-control" id="interfaceName" name="interfaceName"
                value="{{.DefaultServer.InterfaceName}}" required>
        </div>
        <div class="form-group">
            <label for="comment">Comment</label>
            <input type="text" class="form-control" id="comment" name="comment" value="{{.DefaultServer.Comment}}">
        </div>
        <div class="form-group">
            <label for="address">Address CIDR</label>
            <input type="text" class="form-control" id="address" name="address" value="{{.DefaultServer.Address}}"
                required>
        </div>
        <div class="form-group">
            <label for="port">Port</label>
            <input type="number" class="form-control" id="port" name="port" value="{{.DefaultServer.Port}}" required>
        </div>
        <div class="form-group">
            <label for="publicKey">Public Key</label>
            <input type="text" class="form-control" id="publicKey" name="publicKey" value="{{.DefaultServer.PublicKey}}"
                disabled required>
        </div>
        <div class="form-group">
            <label for="privateKey">Private Key</label>
            <input type="text" class="form-control" id="privateKey" name="privateKey"
                value="{{.DefaultServer.PrivateKey}}" disabled required>
        </div>
        <div class="form-group">
            <label for="postUp">Post Up</label>
            <textarea class="form-control" id="postUp" name="postUp" rows="3">{{.DefaultServer.PostUp}}</textarea>
        </div>
        <div class="form-group">
            <label for="postDown">Post Down</label>
            <textarea class="form-control" id="postDown" name="postDown" rows="3">{{.DefaultServer.PostDown}}</textarea>
        </div>
        <div>&nbsp;</div>

        <h5>Default Client Configurations</h5>
        <hr>
        <div class="form-group">
            <label for="wanAddress">WAN Address</label>
            <input type="text" class="form-control" id="wanAddress" name="wanAddress"
                value="{{.DefaultServer.WANAddress}}" required>
        </div>
        <div class="form-group">
            <label for="supernetCidr">Default Client Supernet CIDR</label>
            <input type="text" class="form-control" id="supernetCidr" name="supernetCidr"
                value="{{.DefaultServer.SupernetCidr}}">
        </div>
        <div class="form-group">
            <label for="defaultKeepAlive">Default Client Keep Alive</label>
            <input type="number" class="form-control" id="defaultKeepAlive" name="defaultKeepAlive"
                value="{{.DefaultServer.DefaultKeepalive}}">
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-save me-2"></i>Save</button>
        <span class="wide-span"></span>
        <a href="#" id="cancel" class="text-secondary">Cancel</a>
    </form>
</div>
{{end}}